.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.certificate{
  width: 1040px;
  height: 680px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner1{
  border:10px solid #05438E;
  width: 1000px;
  height: 690px;
}

.font-link {
  font-family: 'Train One', cursive;
  font-weight: bold;
}

.font-link-1 {
  font-family: 'Varela Round', sans-serif;
  font-size: 250%;
  font-weight: bold;
  color:#05438E;
  margin-top: 5%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
